<div class="modal">
  <div class="modal-content">
    <!-- Left Section -->
    <div class="left-section">
      <img src="../../assets/images/about-us-image.jpeg" alt="Mystic Image" class="left-section-image" />
    </div>

    <!-- Right Section -->
    <div class="right-section">
      <span class="close-btn" (click)="close()">&times;</span>
      <h2>Login</h2>
      <button class="google-btn" (click)="signInWithGoogle()">
        <img
    src="../../assets/images/web_neutral_sq_na.svg"
    alt="Google Logo"
    class="google-logo"
  />Sign in with Google</button>
      <p>
        By signing up, I agree to the
        <a href="#">Privacy Policy</a> and
        <a href="#">Terms and Conditions</a>.
      </p>
    </div>
  </div>
</div>
